# Build
.TinyTeX/
.config/
.ipynb_checkpoints/
.jupyter-server-log.txt
.jupyter/
.subversion/
bin/
.local/
*.log
.conda/

# Fonts
fonts/*.Identifier

# Resume
resume/*.log
resume/*.synctex.gz

# Biosketch
biosketch/*.log
biosketch/*synctex.gz
biosketch/*.ttf