# Notebook
.ipython/

# Build
.TinyTeX/
.config/
.ipynb_checkpoints/
.jupyter-server-log.txt
.jupyter/
.subversion/
bin/
.local/
*.log
.conda/
.cache/

# Fonts
fonts/*.Identifier

# Resume
_resume/*.log
_resume/*.synctex.gz
_resume/*.aux
_resume/*.out
# _resume/*.pdf

# Biosketch
_biosketch/*.log
_biosketch/*synctex.gz
_biosketch/*.ttf
# biosketch/*.pdf
