.TinyTeX/
.config/
.ipynb_checkpoints/
.jupyter-server-log.txt
.jupyter/
.subversion/
bin/
.local/
*.log

resume/*.log
resume/*.synctex.gz

biosketch/*.log
biosketch/*synctex.gz
biosketch/*.ttf

fonts/*.Identifier
 
