name: Build PDF with bookdown

on: [push]
        
jobs:
  default-shell:
    name: Build PDF environment
    runs-on: ubuntu-20.04
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - uses: mamba-org/provision-with-micromamba@v12
        with:
          environment-name: environment
          environment-file: environment.yml
      - name: Install dependencies
        run: |
          ./postBuild
        env:
          GITHUB_PAT: ${{ secrets.CROSSTABLE_PAT }}
      - run : make _resume/my_resume.pdf 
        name: Build PDF
      - name: Upload PDF to GH artifacts
        uses: actions/upload-artifact@v1
        with:
          name: my_resume.pdf
          path: _resume/my_resume.pdf
      - name: Release
        uses: fnkr/github-action-ghr@v1
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GHR_PATH: _resume/my_resume.pdf
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run : make _biosketch/my_nih-biosketch.pdf 
        name: Build PDF
      - name: Upload PDF to GH artifacts
        uses: actions/upload-artifact@v1
        with:
          name: my_nih-biosketch.pdf
          path: _biosketch/my_nih-biosketch.pdf
      - name: Release
        uses: fnkr/github-action-ghr@v1
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GHR_PATH: _biosketch/my_nih-biosketch.pdf
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}